<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Connect</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../Content/style.css">
</head>

<body class="theme--">
    <div class="site__root">

        <header class="site-header">
            <div class="site-header__inner site__wrap">
                <img src="../../Content/mobile-connect.svg" alt="Mobile Connect Logo" width="150" class="site-header__logo"/>
                <p>
                <p class="site-header">.Net Server Side SDK</p>
                <p class="site-header__powered-by">powered by GSMA</p>
            </div>
        </header>



        <header class="page__header">

            <h1 id="success" class="page__heading">@Model.Operation Success</h1>

        </header>

    </div>


</body>
</html> 