RequestTokenResponse.ValidationResult Property
==============================================
Result of token response validation

**Namespace:** [GSMA.MobileConnect.Authentication][1]  
**Assembly:** GSMA.MobileConnect (in GSMA.MobileConnect.dll)

Syntax
------

```csharp
public TokenValidationResult ValidationResult { get; set; }
```

#### Property Value
Type: [TokenValidationResult][2]

See Also
--------

#### Reference
[RequestTokenResponse Class][3]  
[GSMA.MobileConnect.Authentication Namespace][1]  

[1]: ../README.md
[2]: ../TokenValidationResult/README.md
[3]: README.md
[4]: ../../_icons/Help.png