<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvVariableInject.Fody" version="1.0.0" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Fody" version="2.0.9" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="runtime.unix.System.IO.FileSystem" version="4.3.0" targetFramework="portable45-net45+win8+wpa81" />
</packages>